.skills-item-container {
  height: 100px;
  width: 350px;
}

.skills-container {
  display: flex;
}

.skill-image {
  height: 50px;
  width: 50px;
}

.skill-name {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  margin-left: 10px;
}
